PORT=8080
GO_ENV=development
LOG_LEVEL=info
DB_HOST=localhost
DB_DATABASE=helpdesk
DB_USERNAME=admin
DB_PASSWORD=password
DB_PORT=3306
SEED_ADMIN_EMAIL=x25166280@Student.ncirl.ie
SEED_ADMIN_PASSWORD=password
SEED_ADMIN_FIRST_NAME=cyber
SEED_ADMIN_MIDDLE_NAME=
SEED_ADMIN_LAST_NAME=security
