PORT=8080
GO_ENV=development
LOG_LEVEL=info
DB_HOST=localhost
DB_DATABASE=helpdesk
DB_USERNAME=admin
DB_PASSWORD=password
DB_PORT=3306
SEED_ADMIN_EMAIL=admin@helpdesk.ie
SEED_ADMIN_PASSWORD=password
SEED_ADMIN_FIRST_NAME=cyber
SEED_ADMIN_MIDDLE_NAME=
SEED_ADMIN_LAST_NAME=security
APP_NAME=secure-web-helpdesk
PASETO_SYMMETRIC_KEY=12345678901234567890123456789012
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_DURATION=168h
